@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 
  border-box;
}

main{
 width: 90%; margin: 50px auto; 
 
 display: grid;
 grid-template-rows: 900px;
 grid-template-columns: 1200px;
 
 background-color: white;
 
}
 .div1{ }



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #D2F4F7;
}

.active {
  background-color: #D2F4F7;
}



.button {
  display: block;


  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;

}

.button2{

  background-color:#16B1BE; 
  color: white; 
  border: 1px solid #16B1BE;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 15px;
}
.button2:hover{
	
	background-color: #0BA5B2;
}

.button4{
	border-radius: 12px;
	color: black;
	background-color: #D2F4F7;
	font-size: 13px;
	border: 1px solid #16B1BE;
	padding: 2px 10px;

}
.button4:hover{
	
	background-color: #9FEBF1;
}


.abcd ul li{
	
	padding-right:60px;
	float: left;
	padding-left: 0px;

}

.aaa ul li{
	padding-left: 10px;
	float: right;
	padding-right: 10px;
	text-align: center;
	list-style-position: center;
}





.column {
  float: left;
  width: 25%;
  padding: 0 20px;
  
  }

.row{
	padding:  20px 0;
}




.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;

  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


img {
  border-radius: 10px 10px 10px 10px;
}

